# ignore Windows exports
*.odt
*.doc
*.docx

# ignore tex files
*.tex
# ignore pdf files (except final paper)
paper/**/*.pdf 
!paper/paper.pdf
!compare_hyperpar_oos/*.pdf
# don't upload plots (yet!)
paper/plots

# ignore datafiles
paper/data/
